.git
.github
.playwright-mcp
.workflow

**/node_modules
**/dist
**/dist-exe
**/coverage
**/*.log
**/.DS_Store
**/.env
**/.env.*

docs/**
!docs/package.json
website/**
!website/package.json

cli/npm
cli/release-artifacts
localdocs
tmp
